html {
    // this defines what 1rem is
    font-size: 80%     /* 13px (12.8px) / 16px; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 30px 10% 30px 10%;
    
    background-color: #ecf3f3;
}

.particle {
	position: absolute;
     border-radius: 50%;
     z-index: -5;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
	}
}


@media only screen and (max-width: 800px) {
    body {
        margin: 20px;
    }

    html {
        // this defines what 1rem is
        font-size: 62.5%     /* 10px / 16px; */
    }    
}

@media only screen and (max-width: 400px) {
    body {
        margin: 5px;
    }
}

@media only screen and (max-width: 360px) {
    body {
        margin: 0;
    }
}